{% extends "base.html" %}

{% block content %}
<h1>Review and Grant </h1>


<form action="{% url 'wishes:grant' wish.id %}" method='post'>
    {% csrf_token %}

    <body>

        <div class="container">


            <a href="{% url 'users:logout' %}" class="button">
                <h1>Logout</h1>
            </a>
            <a href="{% url 'wishes:index' %}" class="button">
                <h1>Cancel</h1>
            </a>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                <p> <label for="name">I Wish For:</label> </p>
                <P> <input type="text" class="form-control" name="item" placeholder=" name your wish"
                        value="{{ wish.item }}">
                </p>
            </div>

            <div class="form-group">
                <p><label for="description">Description:</label></p>
                <textarea name="description" id="" cols="60" rows="5"> {{ wish.description}} </textarea>
            </div>

            <div class="form-group">
                <p> <label for="name">Wisher:</label> </p>
                <P> <input type="text" class="form-control" name="wisher" placeholder="whats your name "
                        value="{{ wish.wisher }}">
                </p>
            </div>



            <div class="form-group">
                <p> <label for="name">Date Granted:</label> </p>
                <P> <input type="date" class="form-control" name="date_granted" placeholder="what is todays date "
                        value="{{ 0000000 }}">
                </p>
            </div>

            <input class="form-control" type="submit" value="Grant">



        </div>
</form>


{% endblock content %}